@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
:root {
  --bold: "Roboto-Black";
  --thincolor: "Roboto-Bold";
  --mediumcolor: "Roboto-Medium";
  --lightcolor: "Roboto-Light";
  --white: #ffffff;
  --black: #000;
  --red:red;
  --button:#4567d7;
  --bgcolor:#303441;
  --grey:#959898;
  --green:#43c370;
  --whatwe:#f5f5f5;
  --buttoncolor:#454954;
}

body {
  font-family: "Roboto-Medium";
  font-size: 14px;
  line-height: 24px;
}

.cls-backgroundimage {
  background: url("../images/home_agent2.jpg") no-repeat center/cover;
  margin: 0px -15px;
}

.custom-navbar {
  background: none;
  border: none;
  margin: 8px -10px;
}

.custom-right {
  margin: 10px 0px;
}

.navbar-default .navbar-nav > li > a {
  color: var(--black);
  padding: 14px 19px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover {
  color: var(--red);
}

.navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: var(--red);
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: var(--red);
}

.cls-makinggood {
  padding: 6% 2px 13% 0px;
}
.cls-makinggood h1 {
  font-size: 65px;
  padding: 46px 0px;
}
.cls-makinggood button {
  text-transform: uppercase;
  padding: 14px 20px;
  border-radius: 0px;
  background-color: var(--button);
  font-size: 13px;
}
.cls-makinggood button:hover {
  background-color: var(--black);
  color: var(--white);
}

.Featured {
  background-color: var(--bgcolor);
  margin: 0px -15px;
  color: white;
  padding: 54px 0px 0px 0px;
}
.Featured .cls-available {
  padding: 3% 0% 0%;
}
.Featured .cls-available p {
  margin: 0 0 10px 30px;
  text-transform: uppercase;
  color: var(--grey);
}
.Featured .cls-available i {
  margin-right: 18px;
  font-size: 18px;
}

.cls-ren {
  background-color: var(--white);
}

.cls-rent img {
  width: 100%;
  position: relative;
  height: 210px;
}
.cls-rent button {
  margin: 10px;
}
.cls-rent .rents {
  position: absolute;
  top: 0px;
  left: 85px;
  background-color: var(--red);
  border: none;
  border-radius: 4px;
  font-size: 11px;
  padding: 0px 6px;
}
.cls-rent .Feature {
  position: absolute;
  top: 0px;
  left: 16px;
  background-color: var(--green);
  border: none;
  border-radius: 4px;
  font-size: 11px;
  padding: 0px 8px;
}

.cls-Academy {
  margin: 0% -6%;
  padding: 46px 0px 90px 0px;
}

.cls-academy {
  background-color: var(--white);
  color: var(--black);
  padding: 1px 20px;
}
.cls-academy h4 {
  padding: 20px 0px;
}
.cls-academy a {
  color: var(--grey);
  padding: 0% 26% 0px 0px;
}
.cls-academy a i {
  font-size: 20px;
}
.cls-academy h5 {
  padding: 30px 0px 20px 0px;
  border-top: 1px solid var(--grey);
  font-size: 20px;
}
.cls-academy h5 span {
  color: var(--grey);
  text-decoration: line-through;
  font-size: 16px;
}
.cls-academy h5 i {
  margin-left: 40%;
  color: var(--grey);
  font-size: 20px;
}

.cls-sibert {
  padding: 50px 0px;
}
.cls-sibert .patrick h1 {
  padding: 20px 0px 10px 0px;
}
.cls-sibert .patrick .cls-american {
  font-size: 19px;
  color: var(--black);
}
.cls-sibert .patrick p {
  padding: 12px 0px;
  color: var(--bgcolor);
  text-align: justify;
}
.cls-sibert .patrick i {
  padding: 0px 25% 0px 0px;
  font-size: 40px;
  color: var(--button);
  position: relative;
}
.cls-sibert .patrick i span {
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 50px;
  color: var(--bgcolor);
}

.cls-whatwedo {
  background-color: var(--whatwe);
  margin: 0px -15px;
}
.cls-whatwedo .cls-do h1 {
  text-align: center;
  padding: 50px 0px;
}
.cls-whatwedo .cls-do .cls-homeagent1 img {
  width: 100%;
}
.cls-whatwedo .cls-do h2 {
  font-size: 38px;
  padding: 28px 0px 22px;
}
.cls-whatwedo .cls-do p {
  font-size: 15px;
  line-height: 30px;
}
.cls-whatwedo .cls-do .cls-homeagent2 {
  padding: 82px 0px;
}
.cls-whatwedo .cls-do .cls-homeagent3 {
  padding: 0px 0px 52px 0px;
}

.popular {
  padding: 20px 10px 50px;
}
.popular h1 {
  padding: 30px 0px;
}
.popular .cls-apartment img {
  width: 100%;
  height: 262px;
  position: relative;
  opacity: 0.8;
}
.popular .cls-content button {
  position: absolute;
  top: 0px;
  left: 27px;
  margin: 10px;
  background-color: var(--red);
  border: none;
  color: var(--white);
  font-size: 12px;
}
.popular .cls-content h4 {
  bottom: 0px;
  position: absolute;
  color: var(--white);
  margin: 10px;
}
.popular .sold {
  padding: 25px 0px;
}
.popular .sold .cls-listing img {
  height: 264px;
  width: 100%;
  position: relative;
  opacity: 0.8;
}
.popular .sold .cls-family button {
  position: absolute;
  top: 0px;
  margin: 10px 20px;
  font-size: 12px;
  background-color: var(--red);
  border: none;
  color: var(--white);
  border-radius: 4px;
  padding: 0px 4px;
}
.popular .sold .cls-family h4 {
  position: absolute;
  bottom: 23%;
  color: var(--white);
  font-size: 16px;
  margin: 0px 15px;
}
.popular .sold .cls-family p {
  position: absolute;
  bottom: 24px;
  margin: 0px 20px;
  color: white;
  font-size: 16px;
}
.popular .sold .cls-family p span {
  color: var(--grey);
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 10px;
}
.popular .sold .cls-family p .fa-eye {
  border-radius: 30px;
  padding: 8px;
  margin-left: 190px;
  background-color: var(--grey);
  opacity: 0.8;
}

.cls-bg {
  background: var(--black);
}

.cls-brokers {
  background-color: var(--bgcolor);
  margin: 0px -15px;
  color: var(--white);
  padding: 50px 0px;
}

.cls-containe {
  margin: 0px -8%;
  padding: 20px 0px;
}

.cls-found {
  width: 20%;
}
.cls-found .cls-teafoun {
  width: 100%;
}
.cls-found .cls-teafoun img {
  width: 100%;
}
.cls-found .cls-founder {
  background-color: var(--white);
  color: var(--black);
  margin: -10px 0px;
  padding: 3px 30px;
  height: 146px;
}
.cls-found .cls-founder h4 {
  padding: 10px 0px 0px;
}
.cls-found .cls-founder i {
  color: var(--grey);
  padding: 0px 5px;
}

.cls-test {
  text-align: center;
  padding: 45px 0px;
}
.cls-test h1 {
  text-align: center;
  padding-bottom: 5px;
}
.cls-test .cls-webfles {
  text-align: center;
  padding: 20px 10px;
}
.cls-test .cls-webfles img {
  width: 30%;
}
.cls-test .cls-webfles h2 {
  font-size: 20px;
  padding: 15px 0px;
}
.cls-test .cls-webfles h2 span {
  display: block;
  font-size: 13px;
  padding: 5px 0px;
  color: var(--green);
  text-transform: uppercase;
}
.cls-test .cls-webfles i {
  color: var(--green);
  font-size: 28px;
  padding: 15px 0px;
}

.cls-in {
  background-color: var(--whatwe);
  margin: 0px -15px;
  text-align: center;
  padding: 50px 0px;
}
.cls-in img {
  filter: grayscale(100%);
  padding: 50px 0px 26px 0px;
}
.cls-in img:hover {
  filter: grayscale(0%);
}

.cls-empty {
  padding: 60px;
}

.cls-footerbg {
  background-color: var(--bgcolor);
  margin: 0px -15px;
  color: var(--white);
}
.cls-footerbg .cls-icons {
  font-size: 30px;
  padding: 30px 0px;
  border-bottom: 1px solid var(--grey);
}
.cls-footerbg .cls-icons i {
  padding: 0px 0px 0px 100px;
}
.cls-footerbg .cls-popular h4 {
  padding: 18px 0px;
  font-size: 16px;
}
.cls-footerbg .cls-popular a {
  color: var(--grey);
  text-decoration: none;
  padding: 3px 0px;
  display: block;
}
.cls-footerbg .cls-popular a:hover {
  color: var(--white);
}
.cls-footerbg .cls-form input {
  background-color: var(--buttoncolor);
  color: var(--white);
  border: none;
  width: 262px;
}
.cls-footerbg button {
  background-color: var(--button);
  color: var(--white);
  border: none;
  width: 262px;
  padding: 10px;
  text-align: center;
}
.cls-footerbg button:hover {
  background-color: var(--white);
  color: var(--black);
}

.cls-search {
  border-bottom: 1px solid var(--grey);
  min-height: 240px;
  padding: 15px 0px;
}

.cls-copyright {
  padding: 20px 0px 15px 0px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .cls-backgroundimage {
    background-position-x: 63%;
  }
  .cls-backgroundimage h1 {
    font-size: 36px;
  }
  .navbar-default .navbar-toggle {
    margin: 14px 12px;
    color: var(--black);
    border-color: var(--red);
  }
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .Featured {
    margin: 0px -15px;
    padding: 15px 15px;
  }
  .Featured .cls-mar {
    margin: 10px 0px;
  }
  .Featured .cls-mar .cls-academy a {
    display: block;
    padding: unset;
  }
  .Featured .cls-mar .cls-academy h5 i {
    margin-left: 10%;
  }
  .cls-found {
    width: unset;
    margin: 20px 0px;
  }
  img {
    width: 100%;
  }
  .cls-apartment {
    margin: 15px 0px;
  }
  .popular .sold .cls-family p {
    bottom: 0px;
  }
  .cls-containe {
    padding: unset;
    margin: unset;
  }
  .cls-bg {
    margin: 10px 0px;
  }
  .cls-footerbg .cls-icons i {
    padding: unset;
  }
}/*# sourceMappingURL=style.css.map */